<h3>{{title}}</h3>
<form [formGroup]="entityForm">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="id">ID:</label>
    <div class="col-md-9">
      <input [readonly]="isEdit" id="id" class="form-control" formControlName="id" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="category">category :</label>
    <div class="col-md-9">
      <input id="category" class="form-control" formControlName="category" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="size">size :</label>
    <div class="col-md-9">
      <input id="size" class="form-control" formControlName="size" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="price">price :</label>
    <div class="col-md-9">
      <input id="price" type="number" class="form-control" formControlName="price" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="title">title :</label>
    <div class="col-md-9">
      <input id="title" class="form-control" formControlName="title" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="imageUrl">imageUrl :</label>
    <div class="col-md-9">
      <input id="imageUrl" class="form-control" formControlName="imageUrl" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artDescription">artDescription :</label>
    <div class="col-md-9">
      <input id="artDescription" class="form-control" formControlName="artDescription" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artDating">artDating :</label>
    <div class="col-md-9">
      <input id="artDating" class="form-control" formControlName="artDating" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artId">artId :</label>
    <div class="col-md-9">
      <input id="artId" type="number" class="form-control" formControlName="artId" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artist">artist :</label>
    <div class="col-md-9">
      <input id="artist" class="form-control" formControlName="artist" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artistBirthDate">artistBirthDate :</label>
    <div class="col-md-9">
      <!-- <input id="artistBirthDate" class="form-control" formControlName="artistBirthDate" />-->
      <input type="text" placeholder="Datepicker" class="form-control" formControlName="artistBirthDate" bsDatepicker>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artistDeathDate">artistDeathDate :</label>
    <div class="col-md-9">
      <!-- <input id="artistDeathDate" class="form-control" formControlName="artistDeathDate" />-->
      <input type="text" placeholder="Datepicker" class="form-control" formControlName="artistDeathDate" bsDatepicker>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="artistNationality">artistNationality :</label>
    <div class="col-md-9">
      <input id="artistNationality" class="form-control" formControlName="artistNationality" />
    </div>
  </div>
  <div> </div>
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</form>		
