<h2>BPM</h2>



<button (click)="load()">Load <i class="fa fa-folder-open"></i></button>
<button (click)="save()">Save <i class="fa fa-save"></i></button>

<div class="modeler">
  <div class="d-md-flex h-md-100 align-items-start">

    <!-- First Half -->

    <div class="col-md-8 p-0 bg-indigo h-md-100">

      <div id="canvas" class="border"></div>

    </div>

    <!-- Second Half -->

    <div class="col-md-4 p-0 bg-white h-md-100 " style="background-color: #f8f8f8">

      <div id="properties" class="align-top"></div>

    </div>

  </div>
</div>
