 <p-sidebar [(visible)]="isOpen" [baseZIndex]="100" [modal]="true">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="" routerLink="/home" class="simple-text">

          asd
        </a>
      </div>
      <ul class="nav">

        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
          <a *ngIf="!menuItem.auth"
             [routerLink]="[menuItem.path]">
            <i class="{{menuItem.icon}}"></i>
            <p>{{menuItem.title}}</p>
          </a>
        </li>







      </ul>
      <button type="button" (click)="isOpen = false" class="btn btn-primary">Save</button>
      <button type="button" (click)="isOpen = false" class="btn btn-primary"
              class="ui-button-secondary">
        Cancel
      </button>
    </div>
  </div>
</p-sidebar>
