    /* You can add global styles to this file, and also import other style files */
    
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
    }
    /* @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: 'MetricLight';
    src: url('/assets/fonts/metric/MetricLight.woff') format('woff');
}

@font-face {
    font-family: 'MetricMedium';
    src: url('/assets/fonts/metric/MetricMedium.woff') format('woff');
}

@font-face {
    font-family: 'MetricRegular';
    src: url('/assets/fonts/metric/MetricRegular.woff') format('woff');
}



html,
body {
    min-height: 100%; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: MetricRegular;
}



 */
    /* 
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important
} */
    /* .main-content {
    width: 100%;
    xheight: calc(100vh - 75px);
    margin-bottom: 57px;
    padding: 3rem;
} */
    /* 
a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
} */
    /*****/
    
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
    /* https://stackoverflow.com/questions/20593224/how-do-i-remove-blue-selected-outline-on-buttons/20593333 */
    
    button:focus {
        outline: none;
    }
    
    .mat-raised-button {
        border-radius: 2rem !important;
    }
    
    .mat-button-toggle-group {
        border-radius: 3rem !important;
    }
    
    .mat-expansion-panel-header-title {
        font-size: 1.2rem;
    }
    /* Left sidenav style override*/
    /* https://dev.to/andreilm/angular-material-sidenav-component-with-icons-only-when-closed-324i */
    
    mat-sidenav mat-panel-title {
        /* Adjust the accordian menu look */
        padding-left: 16px !important;
    }
    
    mat-sidenav:not(.mat-drawer-opened) {
        /* Set width to 60px even when it's .mat-drawer-opened, for showing the icons */
        transform: translate3d(0, 0, 0) !important;
        visibility: visible !important;
        width: 60px !important;
        overflow: hidden;
    }
    
    mat-sidenav-content:not(.mat-drawer-opened) {
        /* Set padding to 60px even when it's .mat-drawer-opened, so as not to overlay the icons */
        padding-left: 60px !important;
    }
    
    mat-sidenav:not(.mat-drawer-opened) mat-panel-title,
    mat-sidenav:not(.mat-drawer-opened) .mat-list-item .mat-list-item-content {
        /* Adjust the accordian menu look */
        /* Adjust the list item to look better when closed */
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    
    mat-sidenav-content.drawer-hide-on-close:not(.mat-drawer-opened) {
        /* When the sidenav is closed but screen < 768px, adjust the content */
        padding-left: 0px !important;
    }
    
    mat-sidenav:not(.mat-drawer-opened) .navigation-item-label,
    mat-sidenav:not(.mat-drawer-opened) .profile-text,
    mat-sidenav:not(.mat-drawer-opened) .home-button {
        /* Don't show anything except for the icons */
        display: none !important;
    }
    
    mat-sidenav:not(.mat-drawer-opened) .profile-img {
        /* Shift the profile image to the left if not opened */
        margin-left: 5px !important;
    }
    
    mat-sidenav:not(.mat-drawer-opened) .mat-expansion-panel-body {
        /* Shift the submenu lists to the left to look better in icon-mode */
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
    mat-sidenav:not(.mat-drawer-opened) .mat-expansion-panel-body mat-icon {
        /* Shift the submenu lists to the left to look better in icon-mode */
        font-size: small;
        margin-right: 0px !important;
        text-align: center;
        height: fit-content;
    }
    
    mat-sidenav.drawer-hide-on-close:not(.mat-drawer-opened) {
        /* When the sidenav is closed but screen < 768px, hide the sidenav totally */
        /* Note: .drawer-hide-on-close is set when screen < 768px */
        left: -240px;
    }
    /** End ***/