<h3>DMN Modeler</h3>


<style>
 
</style>
<button type="button" class="btn btn-primary" (click)="new()">New <fa-icon [icon]="faFolderOpen"></fa-icon></button>
<button type="button" class="btn btn-primary" (click)="load()">Load <fa-icon [icon]="faFolderOpen"></fa-icon></button>
<button type="button" class="btn btn-primary" (click)="save()">Save <fa-icon [icon]="faSave"></fa-icon> </button>
 
<div class="d-md-flex h-md-100 align-items-start">

  <!-- First Half -->

  <div class="col-md-12 p-0 bg-indigo h-md-100">

    <div id="canvas" class="border"></div>

  </div> 

</div>
