<h3>{{title}}</h3> 
<form [formGroup]="entityForm">
  <div class="form-group">
    <label for="id">ID:</label>&nbsp;
    <input [readonly]="isEdit" id="id" class="form-control" formControlName="id" />
  </div>
  <br />
  <div class="form-group">
    <label for="name">Name:</label>&nbsp;
    <input id="name" class="form-control" formControlName="name" />
  </div>
  <br />
  <div class="form-group">
    <label for="code">Code:</label>&nbsp;
    <input id="code" class="form-control" formControlName="code" />
  </div>
  <br />
  <div>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</form>
