<mat-card>
    <mat-card-content>

        <h2>Checkout</h2>
        <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>

        <table class="table table-bordered table-hover">
            <tr *ngFor="let o of shopService.order.items">
                <td><img [src]="o.productImageUrl" alt="o.productTitle" class="img-thumbnail checkout-thumb" /></td>
                <td>{{ o.productCategory }}({{ o.productSize }}) - {{ o.productArtist }}: {{ o.productTitle }}</td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.unitPrice|currency:'USD':"symbol" }}</td>
                <td>{{ (o.unitPrice * o.quantity)|currency:'USD':"symbol" }}</td>
            </tr>
        </table>


        <table class="table table-condensed">
            <tr>
                <td class="text-right">Subtotal</td>
                <td class="text-right">{{ shopService.order.subtotal|currency:'USD':"symbol" }}</td>
            </tr>
            <tr>
                <td class="text-right">Shipping</td>
                <td class="text-right">$ 0.00</td>
            </tr>
            <tr>
                <td class="text-right">Total:</td>
                <td class="text-right">{{ shopService.order.subtotal|currency:'USD':"symbol" }}</td>
            </tr>
        </table>
        <button mat-raised-button color="primary" (click)="onCheckout()" [disabled]="shopService.order.items.length <= 0">Complete Purchase</button>
        <a routerLink="/" mat-button color="danger">Cancel</a>


    </mat-card-content>
</mat-card>