<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100" *ngFor="let p of (entities$)">
        <mat-card>
            <mat-card-content>

                <img [src]="p.imageUrl" class="art-preview" [alt]="p.title" />
                <h3>{{ p.category }} - {{ p.size }}</h3>
                <ul class="product-props list-unstyled">
                    <li><strong>Price</strong>: {{ p.price | currency:"USD":"symbol" }}</li>
                    <li><strong>Artist</strong>: {{ p.artist }}</li>
                    <li><strong>Title</strong>: {{ p.title }}</li>
                    <li><strong>Description</strong>: {{ p.artDescription }}</li>
                </ul>
                <button mat-raised-button id="buyButton" color="primary" (click)="addProduct(p)">Buy</button>
            </mat-card-content>
        </mat-card>
    </div>

</div>
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100">
        <mat-paginator [length]="pagination.totalCount" [pageSize]="pagination.pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)">
        </mat-paginator>

        <!-- <pagination [totalItems]="pagination.totalCount" (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"></pagination> -->


    </div>

</div>